@font-face {
  font-family: "GeoMan";
  src: url("../../assets/fonts/Geomanist.woff") format("woff");
  src: url("../../assets/fonts/Geomanist.woff2") format("woff2");
  display: fallback;
}

@font-face {
  font-family: "GeoMan-Italic";
  src: url("../../assets/fonts/Geomanist-Italic.woff") format("woff");
  src: url("../../assets/fonts/Geomanist-Italic.woff2") format("woff2");
  display: fallback;
}
